<h1>Search</h1>

<%= form_tag search_path, method: :get do %>
  <%= text_area_tag :query, params[:query] %>
  <br>
  <%= submit_tag "Search" %>
<% end %>

<% if @photo.blank? %> 
    <%= "No photos found" %>
<% elsif !@photo.nil? %>
    <% @photo.each do |photo| %>
        <div>
        <%= image_tag photo.image %>
        <%= link_to photo.title, photo_path(photo) %>
        </div>
    <% end %>
<% end %>

