<h1>The photo number <%= params[:id]%></h1>
<h1>
    <%= @photo.title %>
</h1>
<p>
    <%= @photo.description %>
</p>
<p>Updated at</p>
<div>
    <% if @photo.image.attached? %>
      <div>
        <%= image_tag @photo.image %>
      </div>
    <% end %>
</div>
<div>
    <%= link_to "edit", edit_photo_path(@photo) %>
    <%= link_to "destroy", photo_path(@photo), data: {
      turbo_method: :delete,
      turbo_confirm: "Are you sure?"
    } %>
</div>

<%= form_with(model: [@photo, @newcomment], url: photo_comments_path(@photo)) do |form| %>
  <div>
    <%= form.text_field :body %>
  </div>

  <%= form.submit 'Agregar Comentario' %>
<% end %>

<% @comments.each do |comment| %>
  <div>
    <% unless comment.blank?%>
      <div>
        <br />
        <br />
        <%= comment.body %>
        <br />
        <br />
      </div>
    <% end %>
  </div>
<% end %>


