<h1>The photo number <%= params[:id]%></h1>
<h1>
    <%= @photo.title %>
</h1>
<p>
    <%= @photo.description %>
</p>
<p>Updated at <%= @photo.updated_at.strftime("%B %d, %Y") %></p>
<div>
    <% if @photo.image.attached? %>
      <div>
        <%= image_tag @photo.image %>
      </div>
    <% end %>
</div>
<div>
    <%= link_to "edit", edit_photo_path(@photo) %>
    <%= link_to "destroy", photo_path(@photo), data: {
      turbo_method: :delete,
      turbo_confirm: "Are you sure?"
    } %>
</div>

<%= form_for(Comment.new, url: comments_create_path, method: "get") do |form| %>


  <%= form.text_area :body %>
  <%= form.hidden_field :commentable_type, value: @photo.class.to_s %>
  <%= form.hidden_field :commentable_id, value: @photo.id %>
  <br>
  <%= form.submit "Create comment" %>
<% end %>

<% @comments.each do |comment| %>
  <div>
    <% unless comment.nil?%>
      <div>
        <br />        
        <div>
        <%= comment.body %>
        </div>
        <div>
        Send <%= time_ago_in_words(comment.created_at) %> ago
        </div>
        <%= link_to "destroy", comments_destroy_path(comment) , data: {
          turbo_method: :delete,
          turbo_confirm: "Are you sure?"
    } %>
        <br />
      </div>
    <% end %>
  </div>
<% end %>


