<div class="container-lg base_new_category">
<%= form_with model: category do |form| %>
<div>
  <%# <div></div> %>
  <div>
    <%= form.label :name, class: "overline" %>
  </div>
  <div>
    <%= form.text_field :name, placeholder: "tecnology", placeholder_class: "", class: "w-full input_new_category input_name_new_category margin__input" %>
  </div>
  <% category.errors.full_messages_for(:name).each do |message| %>
    <span>
      <%= message %>
    </span>
  <% end %>
</div>

<div>
  <div>
    <%= form.label :description, class: 'overline' %>
  </div>
  <div>
    <%= form.text_area :description, placeholder: "Exploring our complicated relationship with technology...", placeholder_class: "", class: "w-full input_new_category margin__input"%>
  </div>
  <% category.errors.full_messages_for(:description).each do |message| %>
    <span>
      <%= message %>
    </span>
  <% end %>
</div>

<div>
  <div>
    <%= form.label :cover, class: 'overline'%>
  </div>
  <%= form.file_field :cover, accept: 'image/png, image/jpeg', class: "button_choose_file" %>

  <% category.errors.full_messages_for(:cover).each do |message| %>
    <span>
      <%= message %>
    </span>
  <% end %>
</div>

<div>
  <%= form.submit class: "button overline w-full button_new_category"%>
</div>
<div>
  <%= link_to "BACK", categories_path, class: "button w-full text-decoration-none overline button_back_categories"%>
</div>
<% end %>
</div>