<h1>The category number <%= params[:id]%></h1>
<h1>
  <%= @category.name %>
</h1>
<p>
  <%= @category.description %>
</p>

<h2>Photos</h2>
<%= link_to "New photo", new_photo_path(category_id: @category.id) %>
<br />
<br />

<% @photos.each do |photo| %>
  <div>
    <% if photo.image.attached? %>
      <div>
        <%= image_tag photo.image %>
      </div>
    <% end %>
  </div>
  <p>
    <%= photo.title %>
  </p> 
  <div>
    <%= link_to "edit", edit_photo_path(photo) %>
    <%= link_to "destroy", photo_path(photo), data: {
      turbo_method: :delete,
      turbo_confirm: "Are you sure?"
    } %>
  </div>
<% end %>

<%= form_for(Comment.new, url: comments_create_path, method: "get") do |form| %>

  <%= form.text_area :body %>
  <%= form.hidden_field :commentable_type, value: @category.class.to_s %>
  <%= form.hidden_field :commentable_id, value: @category.id %>
  <br>
  <%= form.submit "Create comment" %>
<% end %>


<% @comments.each do |comment| %>
  <div>
    <% unless comment.blank?%>
      <div>
        <br />        
        <div>
        <%= comment.body %>
        </div>
        <div>
        Send <%= time_ago_in_words(comment.created_at) %> ago
        </div>
        <%= link_to "destroy", comments_destroy_path(comment) , data: {
          turbo_method: :delete,
          turbo_confirm: "Are you sure?"
    } %>
  </div>
        <br />
      </div>
    <% end %>
  </div>
<% end %>
