<!DOCTYPE html>
<html>
  <head>
    <title>SomesplashC10SomesplashTeam5</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="container-lg">
    <div class="section-padding-xs header navbar">
      <div class="navbar">
        <div class="header_rotate_icon">
          <i class="ri-unsplash-fill ri-xl align-middle"></i>
        </div>
        <div>
          <%= link_to "Somesplash", categories_path, class: "text-decoration-none align-middle text-somesplash" %>
        </div>
      </div>
      <div>
        <%= link_to 'Search', search_path, class: "text-decoration-none button header_search overline" %>
      </div>
    </div>
    </header>
    <main class= "section-lg">
    <%= yield %>
    </main>
    
    <footer class="footer">
      <div class="container-lg section-padding-xs">
        <div class="footer__content__title">
        <span class="text-sm footer_content_color">
         Build with ♥ by
        </span>
        </div>
        <span class="footer__content footer__center">
          <div class="footer_content_color">
            <i class="ri-linkedin-box-line ri-sm align-middle"></i>
            <span class="text-xs">Rossío Lachos</span>
          </div>
          <div class="footer_content_color">
            <i class="ri-linkedin-box-line ri-sm align-middle"></i>
            <span class="text-xs">Joel De la Rosa</span>
          </div>
          <div class="footer_content_color">
            <i class="ri-linkedin-box-line ri-sm align-middle"></i>
            <span class="text-xs">Ruben Cuadros</span>
          </div>
        </span>
        <span class="footer__content footer__center">
          <div class="footer_content_color">
            <i class="ri-linkedin-box-line ri-sm align-middle"></i>
            <span class="text-xs">Diego Gomez</span>
          </div>
          <div class="footer_content_color">
            <i class="ri-linkedin-box-line ri-sm align-middle"></i>
            <span class="text-xs">Gustavo Ugarte</span>
          </div>
        </span>
      </div>
    </footer>
  </body>
</html>
